@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
        url(../fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

:root {
    --text-color:            #dddddd;
    --background-color:      #303339;
    /*--primary-color:         #607d8b;*/
    --primary-color:         #6d8600;
    --light-primary-color:   #cfd8dc;
    /*--light-primary-color:   #6d8600;*/
    --secondary-color:       #ff9933;
    --light-secondary-color: #ffcc99;

    /* material colors */
    --red:           #f44336;
    --pink:          #e91e63;
    --purple:        #9c27b0;
    --deep-purple:   #673ab7;
    --indigo:        #3f51b5;
    --blue:          #2196f3;
    --light-blue:    #03a9f4;
    --cyan:          #00bcd4;
    --teal:          #009688;
    --green:         #4caf50;
    --light-green:   #8bc34a;
    --lime:          #cddc39;
    --yellow:        #ffeb3b;
    --amber:         #ffc107;
    --orange:        #ff9800;
    --deep-orange:   #ff5722;
    --brown:         #795548;
    --grey:          #9e9e9e;
    --blue-grey:     #607d8b;

    /* flat colors */
    --turquoise:     #1abc9c;
    --emerald:       #2ecc71;
    --peter-river:   #3498db;
    --amethyst:      #9b59b6;
    --wet-asphalt:   #34495e;
    --green-sea:     #16a085;
    --nephritis:     #27ae60;
    --belize-hole:   #2980b9;
    --wisteria:      #8e44ad;
    --midnight-blue: #2c3e50;
    --sun-flower:    #f1c40f;
    --carrot:        #e67e22;
    --alizarin:      #e74c3c;
    --clouds:        #ecf0f1;
    --concrete:      #95a5a6;
    --orange:        #f39c12;
    --pumpkin:       #d35400;
    --pomegranate:   #c0392b;
    --silver:        #bdc3c7;
    --asbestos:      #7f8c8d;
}

body {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 3rem;
    padding: 0;
    background-color: var(--background-color);
    font-family: "Ubuntu";
    color: var(--text-color);
}

h3 {
    color: #aaa !important;
}

a {
    color: #8db2e5;
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: 87.5%;
    font-family: Consolas;
    color: #fff;
    background-color: #212529;
    border-radius: 0.2rem;
}

pre {
    display: block;
    overflow: auto;
    padding: 9px;
    margin: 0 0 10px;
    color: #333;
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    border-radius: 4px;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 10px;
}

dt {
    float: left;
    width: 20%;
    padding: 0;
    margin: 0;
}

dd {
    float: left;
    width: 80%;
    padding: 0;
    margin: 0;
}

dl.compact > dt {
    width: 5%;
}

dl.compact > dd {
    width: 95%;
}

nav {
    /*background: linear-gradient(#05161d, #0b3042);*/
    background-color: var(--background-color);
}

.brand-logo {
    margin-left: 20px;
}

/* switch checked main color */
.switch label input[type="checkbox"]:checked + .lever:after {
    background-color: var(--primary-color);
}

/* switch checked lighten color */
.switch label input[type="checkbox"]:checked + .lever {
    background-color: var(--light-primary-color);
}

.input-field label {
    color: #ddd;
}

.input-field input[type="search"] {
    color: var(--text-color);
    font-size: 15px;
    font-family: "Ubuntu";
}

/* label focus color */
.input-field input[type="search"]:focus + label {
    color: var(--primary-color) !important;
}

/* label underline focus color */
.input-field input[type="search"]:focus {
    background-color: #1d2024 !important;
    border-bottom: 1px solid var(--primary-color) !important;
    box-shadow: 0 0 0 0 !important;
    color: var(--text-color) !important;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: var(--primary-color);
}

.input-field input[type="search"]:focus ~ .material-icons {
    color: var(--text-color);
}

/* fix vertical alignment of prefix and discard icons */
.input-field i {
    line-height: 48px;
}

nav .input-field label i {
    line-height: 44px;
}

.card, .card-reveal {
    background-color: #1d2024 !important;
}

.card-image {
    display: block;
    width: 100%;
    position: relative;
    height: 0;
    padding-top: 67.1875%;
}

.card-image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.card-image img.active {
    max-width: initial;
    max-height: initial;
    margin: inherit;
}

.card .card-title {
    font-size: 18px;
    font-weight: 400;
}

.btn-floating {
    cursor: default;
    opacity: 0.8;
}

.btn-floating i {
    letter-spacing: 0;
}

#scroll-top .btn-floating {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99999;
    opacity: 0.5;
    background-color: #000;
    cursor: pointer;
}

#scroll-top .btn-floating i {
    font-size: 2rem;
    letter-spacing: 0;
}

.csstab {
    width: 5em;
    display: block;
    float: left;
}

.tooltip {
    border-bottom: 1px dotted #777;
}

.tablesorter-header {
    cursor: pointer;
}

.tablesorter-default, .tablesorter-default th {
    color: var(--text-color);
}

.tablesorter-default thead .tablesorter-headerDesc, .tablesorter-default thead .tablesorter-headerAsc {
    border-bottom: var(--primary-color) 2px solid;
}

.tablesorter-headerUnSorted {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==) !important;
}

.tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7) !important;
}

.tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7) !important;
}

.sorter-false {
    background-image: none !important;
}

table th, table td {
    padding: 0px 5px;
    background-color: var(--background-color) !important;
}

table.dark th, table.dark td {
    background-color: #1d2024 !important;
    border-radius: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
    line-height: 1;
    text-transform: none;
    letter-spacing: -3px;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.imdbRatingPlugin {
    color: var(--text-color) !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.imdbRatingPlugin img {
    vertical-align: text-top !important;
    margin-right: 4px;
}

.imdbRatingPlugin span.ofTen {
    color: #aaa !important;
}