@font-face {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/recursive/RecursiveSansLnrSt-Regular.woff2') format('woff2');
}

:root {
    --sidebar-width: 23.2rem;
    --sidebar-animation: 0.4s;
    --text-color: #dddddd;
    --link-color: #8db2e5;
    --background-color: #272727;
    --sidebar-background: #202020;
    --border-color: #1d1d1d;
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: #333333;
        --link-color: #2d4b7f;
        --background-color: #f6f6f6;
        --sidebar-background: #eee;
        --border-color: #666666;
    }
}

body {
    font-family: "Recursive", sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

.side-bar {
    z-index: 9999;
    padding: 2.1rem 0.8rem;
    width: var(--sidebar-width);
    background-color: var(--sidebar-background);
    border-right: 1px solid var(--border-color);
    transition: all var(--sidebar-animation) ease;
}

.sidebar-header {
    white-space: nowrap;
}

.side-bar .logo-name-wrapper {
    margin-bottom: 1.3rem;
}

.side-bar .logo-name {
    color: var(--text-color);
}

.side-bar .logo-name__name {
    display: inline;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 2.2rem;
    vertical-align: middle;
    white-space: nowrap;
}

.side-bar .logo-name__icon {
    font-size: 2.2rem;
}

.side-bar .divider {
    margin: 1.2rem;
    border: 0;
    border-bottom: 1px solid #292932;
}

.side-bar .input-wrapper {
    margin-bottom: 8px;
}

.side-bar input[type="text"] {
    font-family: "Recursive", sans-serif;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #bdbdbd;
    background-color: #2d2d2d;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #303030;
    outline: none;
    padding-left: 0.8rem;
    border-bottom: 1px solid #595959;
    margin-bottom: 4px;
}

.side-bar input[type="text"]:focus {
    border: 1px solid #595959;
    border-bottom: 2px solid #595959;
    margin-bottom: 3px;
}

#filter-icon {
    position: absolute;
    right: 10px;
    padding: 5px;
    font-size: 1.8rem;
    color: #595959;
}

.bx-x#filter-icon {
    color: #bdbdbd;
    cursor: pointer;
}

.side-bar .checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
}

.side-bar .checkbox-wrapper .state {
    padding-left: 1.4rem;
}

.side-bar .pretty {
    display: block;
    margin: 6px;
}

.pretty.p-default input:checked ~ .state label::after {
    background-color: white !important;
}

label {
    color: var(--text-color);
}

.chat-item {
    margin-bottom: 0;
}

.chat-item::before {
    transition: 0.5s ease;
    content: '';
    position: absolute;
    left: -0.8rem;
    height: 100%;
    border-left: 3px solid var(--white-color);
    border-radius: 2px;
    opacity: 0;
    visibility: hidden;
}

.chat-item:hover::before {
    opacity: 0.7;
    visibility: unset;
}

.chat-item.active::before {
    opacity: 1;
    visibility: unset;
}

.chat-item a.chat-item-name {
    color: var(--grey-color);
    padding: 4px;
}

.side-bar.collapse {
    width: 4.8rem;
}

.side-bar.collapse .sidebar-header,
.side-bar.collapse .input-wrapper,
.side-bar.collapse .checkbox-wrapper .state,
.side-bar.collapse .pretty,
.side-bar.collapse .divider {
    opacity: 0;
    pointer-events: none;
}

.side-bar.collapse .logo-name__button {
    right: 0;
}

.tippy-tooltip {
    font-size: 1.3rem;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    font-feature-settings: 'liga';
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
    line-height: 1;
    text-transform: none;
    letter-spacing: -3px;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.container {
    margin-left: var(--sidebar-width);
    padding: 36px;
    transition: margin-left var(--sidebar-animation) ease;
}

.img-container {
    height: 225px;
    width: 150px;
    margin: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    line-height: 0;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
}

.img-container img {
    height: 225px;
    width: 150px;
}

img.inactive {
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
}

img.inactive:not(:hover) {
    filter: grayscale(80%) brightness(50%);
}

.shine-effect {
    opacity: 0.1;
    width: 220%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(235, 245, 255, 0) 0%, rgba(235, 245, 255, 0.85) 12px, rgba(235, 245, 255, 0.75) 20%, rgba(210, 210, 210, 0) 60%, rgba(10, 10, 10, 0) 85%, rgba(10, 10, 10, 0.8) 100%);
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transform: rotateZ(212deg) translateX(12%) translateY(59%);
    z-index: 10;
    transition-property: transform, opacity;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0, 0.73, 0.48, 1);
}

.img-container:hover {
    transform: perspective(450px) scale(1.01) rotateX(5deg) translateZ(15px);
    box-shadow: 0px 14px 12px 0px rgba(0, 0, 0, 0.3);
}

.img-container:hover .shine-effect {
    opacity: 0.2;
    transform: rotateZ(210deg) translateX(12%) translateY(32%);
}

.icon {
    position: absolute;
    color: #dddddd;
    text-shadow: black 0px 0px 2px;
}

.icon a {
    color: #dddddd;
}

.platform-icon {
    bottom: 8px;
    left: 8px;
}

.platform-icon > svg > path {
    fill: #dddddd;
    filter: drop-shadow(0 0 1px black);
}

.patch-icon {
    bottom: 8px;
    right: 10px;
    font-size: 24px;
}

div.rating {
    position: relative;
    text-align: center;
    height: 32px;
    left: 10px;
    bottom: 47px;
    background-color: #535353bb;
    font-size: 18px;
    z-index: 10;
}

div.rating > i.material-icons {
    font-size: 24px;
    color: #f8f8f8;
}

#searchfilter-icon {
    position: relative;
    width: 0;
    right: 2.6rem;
    line-height: 44px;
    font-size: 2rem;
    cursor: pointer;
}

#scroll-top {
    display: inline-block;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    border-radius: 50%;
    transition: background-color 0.3s;
    right: 20px;
    bottom: 20px;
    opacity: 0.5;
    background-color: #000000;
    cursor: pointer;
}

#scroll-top i {
    display: inline-block;
    text-align: center;
    width: 40px;
    color: #fff;
    line-height: 40px;
    font-size: 3rem;
    letter-spacing: 0;
}
