@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'),
        local('Ubuntu-Regular'),
        url(../fonts/ubuntu/Ubuntu-Regular.woff2) format('woff2'),
        url(../fonts/ubuntu/Ubuntu-Regular.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(../fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/material-icons/MaterialIcons-Regular.woff) format('woff'),
        url(../fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

:root {
    --text-color:               #dddddd;
    --background-color:         #1c1c1c;
    --background-color-variant: #161616;
    --primary-color:            #ff5252;
    --light-primary-color:      #ffbfba;
    --secondary-color:          #ff9933;
    --light-secondary-color:    #ffcc99;
}

body {
    margin: 0;
    margin-bottom: 3rem;
    padding: 0;
    background-color: var(--background-color);
    font-family: "Ubuntu", sans-serif;
    color: var(--text-color);
}

nav {
    background-color: var(--background-color-variant);
}

pre {
    display: block;
    overflow: auto;
    padding: 6px;
    margin: 0;
    color: #333;
    background-color: #fbfbfb;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.brand-logo {
    margin-left: 23px;
}

a {
    color: #8db2e5;
}

div#games {
    margin-top: 2.37333rem;
}

/* switch checked main color */
.switch label input[type="checkbox"]:checked + .lever:after {
    background-color: var(--primary-color);
}

/* switch checked lighten color */
.switch label input[type="checkbox"]:checked + .lever {
    background-color: var(--light-primary-color);
}

span.switch-description {
    margin-left: 2em;
    margin-right: 4em;
}

/* label color */
.input-field label {
    color: var(--text-color);
}

/* label focus color */
.input-field input[type="search"]:focus + label {
    color: var(--primary-color) !important;
}

.input-field input[type="search"] {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color) !important;
    padding-left: 0 !important;
    font-size: 15px;
    font-family: "Ubuntu";
}

.input-field input[type="search"]:focus {
    background-color: var(--background-color) !important;
    border-bottom: 1px solid var(--primary-color) !important;
    box-shadow: 0 0 0 0 !important;
    color: var(--text-color) !important;
}

/* vertical alignment of prefix icon */
.input-field .prefix {
    /*line-height: 54px;*/
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: var(--primary-color);
}

.input-field input[type="search"]:focus ~ .material-icons {
    color: var(--text-color) !important;
}

.tabs .tab a:focus.active {
    background-color: var(--background-color-variant);
}

.card, .card-reveal {
    background-color: var(--background-color-variant) !important;
}

.card-image {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 67.1875%;
}

.card-image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.card-image img.active {
    max-width: initial;
    max-height: initial;
    margin: inherit;
}

.card .card-title {
    font-size: 18px;
    font-weight: 400;
}

.btn-floating {
    cursor: default;
    opacity: 0.8;
}

.btn-floating i {
    letter-spacing: 0;
}

#scroll-top .btn-floating {
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0.5;
    background-color: #000000;
    cursor: pointer;
}

#scroll-top .btn-floating i {
    font-size: 2rem;
    letter-spacing: 0;
}

.csstab {
    width: 5em;
    display: block;
    float: left;
}

.chip {
    display: inline;
    line-height: 1.5;
    padding: 0 5px;
    margin: 0 0 0 10px;
}

.chip.patch, .chip.patch:focus {
    color: rgba(0,0,0,0.6);
    background-color: var(--light-primary-color);
}

.chip.mod, .chip.mod:focus {
    color: rgba(0,0,0,0.6);
    background-color: var(--light-secondary-color);
}

.tooltip {
    border-bottom: 1px dotted #777;
}

.tablesorter-header {
    cursor: pointer;
}

.tablesorter-default, .tablesorter-default th {
    color: var(--text-color);
}

.tablesorter-default thead .tablesorter-headerDesc, .tablesorter-default thead .tablesorter-headerAsc {
    border-bottom: var(--primary-color) 2px solid;
}

.tablesorter-headerUnSorted {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==) !important;
}

.tablesorter-headerAsc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7) !important;
}

.tablesorter-headerDesc {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7) !important;
}

.sorter-false {
    background-image: none !important;
}

th, td {
    padding: 4px !important;
    background-color: var(--background-color) !important;
    border-radius: 0;
}

td {
    border-bottom: #cccccc 1px solid;
}

th {
    border-bottom: #cccccc 2px solid;
    text-align: center;
}

div.switch {
    line-height: 28px;
}

.imdbRatingPlugin {
    color: var(--text-color) !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.imdbRatingPlugin img {
    vertical-align: text-top !important;
    margin-right: 4px;
}

.imdbRatingPlugin span.ofTen {
    color: rgba(255,255,255,0.7) !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
    line-height: 1;
    text-transform: none;
    letter-spacing: -3px;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}