<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>TTR-Rechner</title>
        <meta name="author" content="Janos Wortmann">
        <meta name="description" content="Mit dem TTR-Rechner lassen sich Veränderungen des eigenen TTR-Wertes bei Meisterschaftsspielen und Turnieren berechnen.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
        <script src="js/app.min.js"></script>
        <link href="css/shariff.min.css" rel="stylesheet">
        <link href="css/app.min.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>TTR-Rechner</h1>
        </header>

        <form ng-controller="myController">
            <fieldset class="legend">
                <legend>Eingabedaten</legend>

                <label for="input1">Dein aktueller TTR-Wert:</label>
                <input name="input1" class="input" type="number" value="" ng-model="current_ttr" ng-keyup="calculate()" />

                <label for="input2">Deine Änderungskonstante:</label>
                <input name="input2" class="input" list="listitems" maxlength="2" value="16" ng-model="aenderungskonstante" ng-keyup="calculate()" />
                <datalist id="listitems">
                    <option value="16">
                    <option value="20">
                    <option value="24">
                    <option value="28">
                    <option value="32">
                </datalist>

                <label ng-repeat-start="opponent in opponents" for="opponent{{opponent.nr}}">TTR-Wert Gegner {{opponent.nr}}:</label>
                <input ng-repeat-end name="opponent{{opponent.nr}}" class="input" type="number" ng-model="opponent.ttr" ng-keyup="calculate()" />

                <label></label>
                <a href="" class="button" ng-click="addOpponent()">weiteren Gegner hinzufügen</a>
            </fieldset>    

            <fieldset>
                <label ng-repeat-start="opponent in opponents" for="output{{opponent.nr}}">Gewinnwahrscheinlichkeit Gegner {{opponent.nr}}:</label>
                <input ng-repeat-end name="output{{opponent.nr}}" type="text" value="{{opponent.gw_display}}" readonly />

                <label for="siege0">Neuer TTR-Wert bei 0 Siegen:</label>
                <input name="siege0" type="text" value="{{new_ttr0}}" readonly />

                <label ng-repeat-start="opponent in opponents" for="siege{{opponent.nr}}">Neuer TTR-Wert bei <ng-pluralize count="opponent.nr" when="{'one': '{} Sieg:', 'other': '{} Siegen:'}"></ng-pluralize></label>
                <input ng-repeat-end name="siege{{opponent.nr}}" type="text" value="{{opponent.new_ttr}}" readonly />
            </fieldset>
        </form>

        <div class="shariff" data-theme="color" data-orientation="horizontal" data-services="[&quot;facebook&quot;,&quot;twitter&quot;,&quot;googleplus&quot;]"></div>
        <!-- <div class="shariff" data-theme="grey" data-orientation="horizontal" data-services="[&quot;facebook&quot;,&quot;twitter&quot;,&quot;googleplus&quot;]"></div> -->
        <!-- <div class="shariff" data-theme="white" data-orientation="horizontal" data-services="[&quot;facebook&quot;,&quot;twitter&quot;,&quot;googleplus&quot;]"></div>     -->
        <script src="js/shariff.min.js"></script>
    </body>
</html>